<%= cache comment do%>
	<%= link_to comment do%>
		<div class="comment">
			 <p><b>Posted <abbr class="timeago" title="<%= comment.created_at.getutc.iso8601 %>"> <%= comment.created_at.to_s %></abbr></b></p>
			<p class="comment-content"><%= sanitize(Rinku.auto_link(comment.content, :all, 'class="content-link" target="_blank"'), :tags => %w(a), :attributes => %w(target href class)) %></p>
			<div class="comment-share-btns">
				<%= social_share_button_tag( comment.content, :url => "http://cacofoni.co/comments/#{comment.id}") %>
				
			</div>
		</div>
	<% end %>
<% end %>
